@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at top, #232631 0%, #191b22 42%, #171920 100%);
  color: #e9e9ea;
}

#root {
  min-height: 100vh;
}
